@import "utils/libs";
@import "utils/vars";
@import "utils/mixins";
@import "utils/fonts";
@import "utils/bootstrap-reboot";
@import "utils/base";
@import "utils/components";
@import "utils/style";

// Modules:
@import "modules/header";
@import "~selectize/dist/css/selectize.css";

// custom
label.error {
	font-family: "Circe-Regular";
	font-size: rem(13px);
	margin-top: 5px;
	padding-left: 10px;
	&:before {
		content: "*";
		position: absolute;
		left: 0;
		top: auto;
	}
}

.breadcrumbs {
	.nav-item {
		max-width: rem(140px);
	}
}

.select-link__text {
	font-size: rem(24px);
	padding-left: rem(30px);
	padding-right: rem(15px);
	max-width: 190px;
	min-width: 190px;
}

.breadcrumbs {
	.nav-item {
		&.active {
			.nav-link {
				&:after {
					transform: scale(1);
				}
			}
		}
	}
	.nav-link {
		&:hover,
		&.active {
			&:after {
				transform: scale(1);
			}
		}
	}
}

.reg-box {
	width: 100%;
}

.buttons-group {
	display: flex;
	align-items: center;
	margin: 0 -5px;

	&__item {
		width: 50%;
		padding: 5px;
	}
}

.btn-link {
	color: $color-white;
	font-size: rem(18px);
	display: inline-block;
	text-align: left;
	position: relative;
	padding: 4px 4px 4px 28px;
	@include transition;

	.svg-icon {
		width: 16px;
		height: 16px;
		display: block;
		fill: $color-white;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -9px;
	}

	&:hover {
		opacity: 0.6;
		color: $color-white;
	}
}

.btn-link {
	color: #000;
	&:hover {
		color: #111;
	}
	.svg-icon {
		fill: #000;
		&:hover {
			fill: #111;
		}
	}
}

.page-lilac {
	.btn-link {
		color: #fafafa;
		&:hover {
			color: #ccc;
		}
		.svg-icon {
			fill: #fafafa;
			&:hover {
				fill: #ccc;
			}
		}
	}
}

.message-block {
	&._custom {
		.message-block__title {
			width: 100%;
			text-transform: uppercase;
			font-family: "Circe-Bold";
			font-size: rem(18px);
			text-align: center;
			margin-bottom: 0.625rem;
		}

		.message-block__text {
			font-size: rem(16px);
			font-family: "Circe-Light";
			margin-bottom: rem(20px);
			// text-align: left;
		}
	}
}

.br {
	display: block;
	width: 100%;
}

.form-login {
	.checkbox-item--term {
		text-align: left;
		margin: rem(30px) 0;
		margin-bottom: 0;
		> label {
			font-family: "Circe-light";
			padding-left: 30px;
			font-size: rem(15px);
			&.error {
				position: relative;
				font-family: "Circe-Regular";
				font-size: rem(13px);
			}
			a {
				text-decoration: underline;
				color: rgb(56, 128, 141);
			}
		}
	}
}

.password-control {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(48px);
	height: 100%;
	background-size: rem(20px);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-image: url("../img/view.svg");
	opacity: 0.7;
	&:hover {
		opacity: 1;
	}
}

.password-control.view {
	background-image: url("../img/no-view.svg");
}

.btn-lilac {
	font-size: rem(15px);
}

.credentinals-error {
	margin: rem(20px) 0;
	margin-top: 0;
	font-size: rem(14px);
	background: #e93342;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}

.success-reg {
	margin: rem(20px) 0;
	font-size: rem(14px);
	margin-top: 0;
	background: #3bc765;
	padding: 10px;
	border-radius: 10px;
	color: #fff;
}

.alert-msg {
	margin: rem(20px) 0;
	font-size: rem(14px);
	margin-top: 15px;
	background: #b90ccc;
	padding: 10px;
	border-radius: 10px;
	color: #fff;

	a {
		color: #fff;
		text-decoration: underline;
	}

	&--order {
		padding: rem(15px);
		background: #e93342;

		a.alert-marker {
			padding: 2px 5px;
			border-radius: 10px;
			background: rgba(255, 255, 255, 0.3);
		}
	}
}

.alert-msg__title {
	display: block;
	font-family: 'Circe-bold';
	font-size: rem(15px);
	margin: auto;
}

.form-select {
	width: 100%;
	height: rem(42px);
	line-height: rem(38px);
	padding: 0 rem(40px) 0 rem(23px);
	border: 1px solid transparent;
	background: $color-white;
	color: $color-dark;
	border-radius: rem(21px);
	text-align: left;
	@include rr;
	font-size: rem(14px);
	@include transition;
	overflow: hidden;
	position: relative;
	box-shadow: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
	// background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
	// background-repeat: no-repeat, repeat;
	// background-position: right .7em top 50%, 0 0;
	// background-size: .65em auto, 100%;
}

.user-name {
	> a {
		color: #111;
		&:hover {
			color: rgb(85, 85, 85);
		}
	}
}

.right-sidebar {
	height: 100vh;

	@media screen and (max-width: 1199px){
		height: 100%;
	}
}
