<template>
    <form class="form-event" action="@" method="@" @submit.prevent="submit">
        <input type="hidden" name="title" value="Написать пресс-релиз">
        <order-alert v-if="isAuth"></order-alert>
        <div style="display: none" class="form_key">pr</div>
        <div class="form-item">
            <label class="form-label" for="nameProject">Наименование вашего музыкального проекта</label>
            <input class="form-input" name="nameProject" data-name="project_name" id="nameProject" placeholder="Наименование проекта" data-msg-required="Заполните поле наименование проекта" required="" v-model="formData.project_name">
        </div>
        <div class="form-item">
            <label class="form-label" for="link">Желаемый заголовок новости</label>
            <input class="form-input" name="link" data-name="news_title" id="link" placeholder="Напишите заголовок новости" data-msg-required="Заполните поле заголовок новости" required="" v-model="formData.news_title">
        </div>
        <div class="form-item">
            <label class="form-label" for="text1">Задание копирайтеру</label>
            <textarea class="form-input form-textarea" name="text1" data-name="task_content" id="text1" placeholder="Подробно опишите основную идею и изложите факты." rows="3" data-msg-required="Заполните поле задание копирайтеру" required="" v-model="formData.task_content"></textarea>
        </div>
        <order-btn></order-btn>
    </form>
</template>
<script>
import {mapGetters} from "vuex"
import LoadingSpinner from "@/components/Misc/LoadingSpinner";
import OrderBtn from "@/components/Misc/OrderBtn";
import OrderAlert from "@/components/Misc/OrderAlert";
export default {
  data() {
    return {
        formData: {
          form_key: "pr",
          project_name: "",
          news_title: "",
          task_content: ""
        }
    }
  },
  computed: mapGetters(['orderCreating', 'attemptCreationOrder', 'firstOrderError']),
  components: {
    LoadingSpinner, 
    OrderBtn,
		OrderAlert,
    
  },
  methods: {
    async submit() {
      this.$store.commit('setAttemptCreationOrder', true);

      await this.$store.dispatch('createOrder', this.formData);

      if(this.$store.getters.isAuth) {
        await this.$router.push('/order-msg');
      } else {
        await this.$router.push('/register');
      }
  }
  },
  mounted() {
    this.$store.commit("resetOrderForm")
  }
}
</script>