<template>
    <form class="form-event" action="@" method="@" @submit.prevent="submit">
        <input type="hidden" name="title" value="Регистрация доменных имен для Вашего проекта">
        <order-alert v-if="isAuth"></order-alert>
        <div style="display: none" class="form_key">d</div>
        <div class="form-item">
            <label class="form-label" for="text1">Наименование доменов</label>
            <textarea class="form-input form-textarea" name="text1" data-name="name" id="text1" placeholder="Список доменных имен, которые Вы хотите зарегистрировать" rows="3" data-msg-required="Заполните поле наименование доменов" required="" v-model="formData.name"></textarea>
        </div>
        <div class="form-item">
            <label class="form-label" for="data-trade">Данные о владельце торговой марки</label>
            <input class="form-input" name="data-trade" data-name="fill_name_trade_mark_owner" id="data-trade" placeholder="Данные о владельце" v-model="formData.fill_name_trade_mark_owner">
            <p class="field-text">ФИО если физическое лицо, наименование юридического лица или индивидуального предпринимателя</p>
        </div>
        <div class="form-item">
            <div class="form-label">Нужен ли хостинг?</div>
            <div class="radio-group radio-group--line">
                <div class="radio-item">
                    <input @input="checked('with_hosting', true)" type="radio" name="hosting" value="Да" id="h1" checked="">
                    <label for="h1"><span class="check-icon"></span><span class="check-text">Да</span></label>
                </div>
                <div class="radio-item">
                    <input @input="checked('with_hosting', false)" type="radio" name="hosting" value="Нет" id="h2">
                    <label for="h2"><span class="check-icon"></span><span class="check-text">Нет</span></label>
                </div>
            </div>
        </div>
        <div class="form-item">
            <label class="form-label" for="text2">Описание музыкального проекта</label>
            <textarea class="form-input form-textarea" name="text2" data-name="description" id="text2" placeholder="Подробная информация об артисте или группе / проекте в свободной форме." rows="3" data-msg-required="Заполните описание музыкального проекта" required="" v-model="formData.description"></textarea>
        </div>
        <order-btn></order-btn>
    </form>
</template>
<script>
import {mapGetters} from "vuex"
import LoadingSpinner from "@/components/Misc/LoadingSpinner";
import OrderBtn from "@/components/Misc/OrderBtn";
import OrderAlert from "@/components/Misc/OrderAlert";
export default {
  data() {
    return {
        formData: {
          form_key: "d",
          name: "",
          fill_name_trade_mark_owner: "",
          description: "",
          with_hosting: true
        }
    }
  },
  computed: mapGetters(['orderCreating', 'attemptCreationOrder', 'firstOrderError']),
   components: {
    LoadingSpinner, 
    OrderBtn,
		OrderAlert,
  },
  methods: {
    async submit() {
      this.$store.commit('setAttemptCreationOrder', true);

      await this.$store.dispatch('createOrder', this.formData);

      if(this.$store.getters.isAuth) {
        await this.$router.push('/order-msg');
      } else {
        await this.$router.push('/register');
      }
    },
    async checked(name, value) {
      this.formData[name] = value;
    }
  },
  mounted() {
    this.$store.commit("resetOrderForm")
  }
}
</script>