<template>
    <form class="form-event" action="@" method="@" @submit.prevent="submit">
        <input type="hidden" name="title" value="Статья в википедии">
        <order-alert v-if="isAuth"></order-alert>
        <div style="display: none" class="form_key">wiki</div>
        <div class="form-item">
            <label class="form-label" for="nameProject">Наименование вашего музыкального проекта</label>
            <input class="form-input" name="nameProject" data-name="project_name" id="nameProject" placeholder="Наименование проекта" data-msg-required="Заполните поле наименование проекта" required="" v-model="formData.project_name">
        </div>
        <div class="form-item">
            <label class="form-label" for="text1">Напишите свою биографию</label>
            <textarea class="form-input form-textarea" name="text1" data-name="biography" id="text1" placeholder="Подробно опишите свою биографию." rows="3" data-msg-required="Заполните поле биография" required="" v-model="formData.biography"></textarea>
            <p class="field-text">Подробно опишите свою биографию, предоставляя достоверную информацию, включая Ваше настоящее имя, фамилию, отчество, место рождения, возраст, пол, ключевые события в Вашей творческой деятельности (награды, достижения, кол-во синглов, альбомов, клипов, участие в программах, публикации в СМИ и др.), а также другие личные данные, которые Вы хотите, чтобы были опубликованы в Википедии. Все данные должны ссылаться на источник информации, в противном случае, статья не будет допущена к публикации в Википедии.</p>
        </div>
        <order-btn></order-btn>
    </form>
</template>
<script>
import {mapGetters} from "vuex"
import LoadingSpinner from "@/components/Misc/LoadingSpinner";
import OrderBtn from "@/components/Misc/OrderBtn";
import OrderAlert from "@/components/Misc/OrderAlert";
export default {
  data() {
    return {
        formData: {
          form_key: "wiki",
          project_name: "",
          biography: ""
        }
    }
  },
  computed: mapGetters(['orderCreating', 'attemptCreationOrder', 'firstOrderError']),
    components: {
    LoadingSpinner, 
    OrderBtn,
		OrderAlert,
    
  },
  methods: {
    async submit() {
      this.$store.commit('setAttemptCreationOrder', true);

      await this.$store.dispatch('createOrder', this.formData);

      if(this.$store.getters.isAuth) {
        await this.$router.push('/order-msg');
      } else {
        await this.$router.push('/register');
      }
  }
  },
  mounted() {
    this.$store.commit("resetOrderForm")
  }
}
</script>