<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.5, user-scalable=1, shrink-to-fit=no" name="viewport" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="<%= BASE_URL %>favicon.png" />
    <title>Я. Продюсер</title>
</head>
<body>

    <noscript>
        <strong>
            К сожалению, система Я.Продюсер не работает должным образом без включенного JavaScript. 
            Пожалуйста, активируйте для продолжения.
        </strong>
    </noscript>

    <div id="app"></div>

</body>
</html>