@import "mixins";

html {
  height: 100%;

	&.lock {
		overflow: hidden;

		body {
			height: 100%;
			overflow: hidden;
		}
	}
}

body {
  position: relative;
	min-width: 320px;
	color: $color-base;
	overflow-x: hidden;
	padding: 0;
	margin: 0 auto;
  font-family: $mainFont;
  font-size: $browser-context;
  font-weight: $mainFontWeight;
  line-height: $mainLineHeight;
	background: $color-white;
	font-smoothing: antialiased;
	text-size-adjust: none;
	//cursor: none;

	@media screen and (max-width: 1280px){
		font-size: 15px;
		cursor: auto;
	}

	@media screen and (max-width: 991px){
		font-size: 14px;
	}

	&.page-lilac {
		background: #925DFF linear-gradient(90deg, rgb(146, 93, 255) 0%, rgb(108, 36, 255) 100%);
		color: $color-white;

		.center-block {
			background-color: #925dff;
			color: #fff;
			box-shadow: 0 0 15px rgba(0,0,0,0.06);
		}

		.bg-page {
			background: linear-gradient(90deg, rgb(146, 93, 255) 0%, rgb(108, 36, 255) 100%);
			&:before {
				background-color: rgb(146, 93, 255);
			}
		}

		.bg-circle {
			background-color: rgb(146, 93, 255);
		}

		.left-sidebar__top {
			background-color: rgb(146, 93, 255);
		}

		.page-number {
			color: $color-second;
		}

		.user-box {
			border-color: $color-second;
		}

		.main-menu a {
			color: $color-white;

			&:hover {
				color: $color-second;
			}
		}

		.user-box__name {
			color: $color-white;
		}

		.btn-logout {
			.svg-icon {
				fill: $color-white;
			}
		}

		.btn-close .svg-icon {
			fill: $color-white;
		}

		.main-menu .icon-menu .svg-icon {
			fill: $color-white;
		}

		.main-menu li.current > a {
			color: $color-second;
		}

		.main-menu > ul > li.current .icon-menu .svg-icon {
			fill: $color-second;
		}

		.breadcrumbs {
			.vertical-line {
				background: $color-second;
			}

			.nav-item {
				&:before {
					background: $color-second;
				}
			}

			.nav-link {
				color: $color-white;
			}
		}

		.mask-char {
			background: $color-second;
		}

		.mask-char-bg {
			fill: rgb(146, 93, 255);
		}

		.select-link {
			background-color: rgb(146, 93, 255);
			color: $color-white;

			&:hover {
				background: #FFF9DD;
				color: $color-base;

				.mask-char-bg {
					fill: #FFF9DD;
				}
			}
		}
	}

	&.page-green {
		//background-color: rgb(102,185,55);
		background: #B8DC6E linear-gradient(90deg, rgb(184,220,110) 0%, rgb(102,185,55) 100%);
		color: $color-white;

		.center-block {
			background-color: #badc6e;
			box-shadow: 0 0 15px rgba(0,0,0,0.06);
		}

		.bg-page {
			background: linear-gradient(90deg, rgb(184,220,110) 0%, rgb(102,185,55) 100%);

			&:before {
				background-color: rgb(186, 220, 110);
			}
		}

		.left-sidebar__top {
			background-color: rgb(186, 220, 110);
		}

		.bg-circle {
			background-color: rgb(186, 220, 110);
		}

		.page-number {
			color: $color-green;
		}

		.user-box {
			border-color: $color-green;
		}

		.main-menu a {
			color: $color-white;

			&:hover {
				color: $color-green;
			}
		}

		.user-box__name {
			color: $color-white;
		}

		.btn-logout {
			.svg-icon {
				fill: $color-white;
			}
		}

		.btn-close .svg-icon {
			fill: $color-white;
		}

		.main-menu .icon-menu .svg-icon {
			fill: $color-white;
		}

		.main-menu li.current > a {
			color: $color-green;
		}

		.main-menu > ul > li.current .icon-menu .svg-icon {
			fill: $color-green;
		}

		.breadcrumbs {
			.vertical-line {
				background: $color-green;
			}

			.nav-item {
				&:before {
					background: $color-green;
				}

				&.active {
					.nav-link {
						color: $color-white;
					}
				}
			}
		}

		.mask-char {
			background: $color-green;
		}

		.mask-char-bg {
			fill: #badc6e;
		}

		.select-link {
			background-color: #badc6e;

			&:hover {
				background: #FFF9DD;

				.mask-char-bg {
					fill: #FFF9DD;
				}
			}
		}

		.checkbox-item label .check-icon::after, .radio-item label .check-icon::after {
			background: $color-green;
		}

		.color-success {
			color: $color-yellow;
		}

		.checkbox-item--term label .check-icon .svg-icon {
			fill: #badc6e;
		}

		.checkbox-item--term label a:hover {
			color: $color-yellow;
		}

		.question-icon:hover .svg-icon {
			fill: $color-yellow;
		}
	}

	&.page-red {
		background: #FA875D linear-gradient(90deg, rgb(250,135,93) 0%, rgb(250,68,31) 100%);
		color: $color-white;

		.center-block {
			background: #fa875d;
			box-shadow: 0 0 15px rgba(0,0,0,0.06);
		}


		.left-sidebar__top {
			background-color: #FA875D;
		}

		.bg-page {
			background: linear-gradient(90deg, rgb(250,135,93) 0%, rgb(250,68,31) 100%);

			&:before {
				background-color: #FA875D;
			}
		}

		.bg-circle {
			background-color: #FA875D;
		}

		.page-number {
			color: $color-red;
		}

		.user-box {
			border-color: $color-red;
		}

		.main-menu a {
			color: $color-white;

			&:hover {
				color: $color-red;
			}
		}

		.btn-logout {
			.svg-icon {
				fill: $color-white;
			}
		}

		.user-box__name {
			color: $color-white;
		}

		.btn-close .svg-icon {
			fill: $color-white;
		}

		.main-menu .icon-menu .svg-icon {
			fill: $color-white;
		}

		.main-menu li.current > a {
			color: $color-red;
		}

		.main-menu > ul > li.current .icon-menu .svg-icon {
			fill: $color-red;
		}

		.breadcrumbs {
			.vertical-line {
				background: $color-red;
			}

			.nav-item {
				&:before {
					background: $color-red;
				}
			}
		}

		.mask-char {
			background: $color-red;
		}

		.mask-char-bg {
			fill: #fa875d;
		}

		.select-link {
			background: #fa875d;

			&:hover {
				background: #ffdddd;

				.mask-char-bg {
					fill: #ffdddd;
				}
			}
		}

		.checkbox-item--term label .check-icon .svg-icon {
			fill: $color-red;
		}

		.checkbox-item--term label a:hover {
			color: $color-yellow;
		}

		label.error {
			color: $color-yellow;
		}

		.form-input.is-invalid, .form-input:invalid {
			//border-color: $color-yellow;
		}

		.color-danger {
			color: $color-yellow;
		}

		.checkbox-item label .check-icon::after, .radio-item label .check-icon::after  {
			background: $color-red;
		}
	}

	&.page-yellow {
		background: #FEE54D linear-gradient(90deg, rgb(254,229,77) 0%, rgb(255,193,30) 100%);
		color: #43380e;


		.left-sidebar__top {
			background-color: #FED93E;
		}

		.bg-page {
			background: linear-gradient(90deg, rgb(254,229,77) 0%, rgb(255,193,30) 100%);

			&:before {
				background-color: rgb(255, 230, 119);
			}
		}

		.bg-circle {
			background-color: rgb(255, 230, 119);
		}

		.page-number {
			color: $color-yellow-second;
		}

		.main-menu a {
			color: $color-white;

			&:hover {
				color: $color-yellow-second;
			}
		}

		.btn-menu .line {
			background: $color-base;
		}

		.main-menu li.current > a {
			color: $color-yellow-second;
		}

		.user-box {
			border-color: $color-yellow-second;
		}

		.breadcrumbs {
			.vertical-line {
				background: $color-yellow-second;
			}

			.nav-item {
				&:before {
					background: $color-yellow-second;
				}
			}
		}
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}

p {
	padding: 0;
	margin: 0;
}

ul,
ol {
	padding: 0;
	margin: 0;
	list-style: none;
}

body a,
body button {
	outline: none;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
	}
}

input,
textarea,
select {
	&:focus {
		outline: none;
	}
}

table {
	table-layout: fixed;
	width: 100%;
	td {
		word-wrap: break-word;
	}
}

.wrapper {
	position: relative;
	min-height: 100vh;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.footer{
	width: 100%;
}

.content{
	width: 100%;
	flex-grow: 1;
	@include transition(transform,0.4s,ease-out);

	&.shift {
		transform: translateX(470px);

		&:before {
			visibility: visible;
			opacity: 1;
			z-index: 100;
		}
	}

	&:before {
		@include pseudo;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba($color-base,0.5);
		z-index: -100;
		visibility: hidden;
		opacity: 0;
		@include transition(opacity,0.4s,ease-out);
	}

	&.page-service {
		.page-content {
			padding-right: 30%;

			@media screen and (max-width: 1199px){
				padding: rem(60px) rem(15px) rem(60px);
			}
		}

		.right-sidebar {
			width: 30%;

			@media screen and (max-width: 1199px){
				width: 100%;

				.logo-wrap--sidebar {
					text-align: center;
					padding-right: 0;
					margin: 0 auto;
				}
			}
		}
	}
}

.header{
	width: 100%;
}

.img-fluid {
	max-width: 100%;
	height: auto;
	display: block;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.bg-page {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	&:before {
		@include pseudo;
		top: 0;
		left: 0;
		width: 100%;
		height: 190px;
		display: none;
		visibility: hidden;

		@media screen and (max-width: 1199px){
			display: block;
		}
	}

	&.show {
		&:before {
			visibility: visible;
		}
	}
}


