
@keyframes clickEffect {
	0% {
		opacity: 0.7;
		transform: scale(0);
	}
	100% {
		opacity: 0;
		transform: scale(2);
	}
}

.effect {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: rem(-100px) 0 0 rem(-100px);
	width: rem(200px);
	height: rem(200px);
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.3);
	transform: scale(0);
	pointer-events: none;
	animation: clickEffect 1.5s ease;
}

.buttonEffect {
	overflow: hidden;
	position: relative;
}

.button{
	overflow: hidden;
	position: relative;
}

.btn {
	outline: none;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	&:focus,
	&:hover,
	&:active {
		outline: none;
		text-decoration: none;
	}

	@media screen and (max-width: 480px) {
		width: 100%;
	}
}

.btn-pink {
	padding: rem(12px) rem(30px);
	min-width: rem(230px);
	background: $color-pink;
	color: $color-white;
	@include rb;
	font-size: 1em;
	@include transition(background);
	line-height: 1.15;
	border: none;
	border-radius: rem(21px);
	text-transform: uppercase;

	&:hover {
		background: #ea3669;
		color: $color-white;
	}
}

.btn-lilac {
	padding: rem(14px) rem(30px) rem(10px);
	min-width: rem(230px);
	background: $color-lilac;
	color: $color-white;
	@include rb;
	font-size: 1em;
	@include transition(background);
	line-height: 1.15;
	border: none;
	border-radius: rem(21px);
	text-transform: uppercase;

	&:hover {
		background: #ac0cbf;
		color: $color-white;
	}
}

.btn-yellow {
	padding: rem(14px) rem(30px) rem(10px);
	min-width: rem(230px);
	background: $color-yellow;
	color: $color-base;
	@include rb;
	font-size: 1em;
	@include transition(background);
	line-height: 1.15;
	border: none;
	border-radius: rem(21px);
	text-transform: uppercase;

	&:hover {
		background: $color-yellow-second;
		color: $color-base;
	}
}

.btn-outline-white {
	padding: 0 rem(15px);
	background: transparent;
	color: $color-white;
	@include rb;
	font-size: 0.75rem;
	height: rem(32px);
	line-height: rem(32px);
	@include transition;
	border: 1px solid $color-white;
	border-radius: rem(21px);
	text-transform: uppercase;

	&:hover {
		background: $color-white;
		color: $color-base;

		.icon-long-arrow {
			width: 13px;
			background: $color-base;
			margin-right: 9px;

			&:before {
				border-top-color: $color-base;
				border-left-color: $color-base;
			}

			&.arrow-left {
				transform: translateX(-5px);
			}
		}
	}

	@media screen and (max-width: 480px) {
		width: auto;
	}
}

.icon-long-arrow{
	width: 16px;
	height: 2px;
	background: $color-white;
	display: inline-block;
	vertical-align: center;
	position: relative;
	border-radius: 2px;
	@include transition;
	margin-right: 6px;
	margin-bottom: 3px;
	&:before{
		@include pseudo;
		border-top: 2px solid $color-white;
		border-left: 2px solid $color-white;
		width: 10px;
		height: 10px;
		display: block;
		top: -4px;
		@include transition;
	}
	&.arrow-left{
		&:before{
			transform: rotate(-45deg);
			left: 0;
		}
	}
	&.arrow-right{
		&:before{
			transform: rotate(135deg);
			right: 0;
		}
	}

}
