<template>
<div class="page-content">
	<section class="section-main">
		<div class="container">
			<div class="section-top">
				<h2 class="section-title">Выпустить песню</h2>
				<p class="section-descr">Что будем продюсировать?</p>
			</div>
			
            <form-song-release></form-song-release>

			<div class="section-button">
                <router-link class="btn btn-outline-white" to="/song">
                    <i class="icon-long-arrow arrow-left"></i>
                    <span>Назад</span>
                </router-link>
            </div>
		</div>
	</section>
</div>
	
</template>
<script>
import FormSongRelease from '@/components/Forms/Content/Song/FormSongRelease';
export default {
    name: "song-release",
	components: { FormSongRelease }
}
</script>
