<template>
    <div>
        <input-control
            v-for="(inputControl, name) in inputControls"
            :key="name"
            v-model="inputControl.value"
            :type="inputControl.type"
            :name="name"
            :placeholder="inputControl.placeholder"
            :errors="inputControl.errors"
        />
    </div>
</template>

<script>
import InputControl from "@/components/Misc/FormControls/InputControl";

export default {
    name: "InputGroup",
    props: {
        inputControls: Object
    },
    components: {InputControl}
}
</script>

<style scoped>

</style>