 <template>
<div class="page-content">
	<section class="section-main">
		<div class="container">
			<div class="section-top">
				<h2 class="section-title">Создать клип</h2>
				<p class="section-descr">Что будем продюсировать?</p>
			</div>
			
            <form-video-promo></form-video-promo>

			<div class="section-button">
                <router-link class="btn btn-outline-white" to="/video">
                    <i class="icon-long-arrow arrow-left"></i>
                    <span>Назад</span>
                </router-link>
            </div>
		</div>
	</section>
</div>
	
</template>
<script>
import FormVideoPromo from '@/components/Forms/Content/Video/FormVideoPromo';
export default {
    name: "video-promo",
	components: { FormVideoPromo }
}
</script>
