<template> 
    <div class="page-content">
        <section class="section-main">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">Удаление негатива</h2>
                    <p class="section-descr">Управление репутацией:</p>
                </div>
                
                <form-artist-rating-up></form-artist-rating-up>

                <div class="section-button">
                    <router-link class="btn btn-outline-white" to="/artist-reputation">
                        <i class="icon-long-arrow arrow-left"></i>
                        <span>Назад</span>
                    </router-link>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import FormArtistRatingUp from '@/components/Forms/Content/Artist/FormArtistRatingUp';
export default {
    name: "artist-rating-up",
	components: { FormArtistRatingUp }
}
</script>
