<template> 
<div class="page-content">
	<section class="section-main">
		<div class="container">
			<div class="section-top">
				<h2 class="section-title">Торговая марка</h2>
				<p class="section-descr">Регистрация товарного знака в Роспатенте:</p>
			</div>
			
            <form-artist-trademark></form-artist-trademark>

			<div class="section-button">
                <router-link class="btn btn-outline-white" to="/artist-naming">
                    <i class="icon-long-arrow arrow-left"></i>
                    <span>Назад</span>
                </router-link>
            </div>
		</div>
	</section>
</div>
	
</template>
<script>
import FormArtistTrademark from '@/components/Forms/Content/Artist/FormArtistTrademark';
export default {
    name: "artist-trademark",
	components: { FormArtistTrademark }
}
</script>
