<template> 
    <div class="page-content">
        <section class="section-main">
            <div class="container">
                <div class="section-top">
                    <h2 class="section-title">Сделать публикацию в СМИ</h2>
                    <p class="section-descr">Рассылка и размещение пресс-релизов и новостей:</p>
                </div>
                
                <form-artist-mass-media></form-artist-mass-media>

                <div class="section-button">
                    <router-link class="btn btn-outline-white" to="/artist-promo">
                        <i class="icon-long-arrow arrow-left"></i>
                        <span>Назад</span>
                    </router-link>
                </div>
            </div>
        </section>
    </div>
</template>
<script>
import FormArtistMassMedia from '@/components/Forms/Content/Artist/FormArtistMassMedia';
export default {
    name: "artist-mass-media",
	components: { FormArtistMassMedia }
}
</script>
